VITE_GOOGLE_OAUTH2_CLIENT_ID="google-oauth2-client-id-placeholder"
VITE_GOOGLE_MAP_ID="google-map-id-placeholder"
VITE_DEFAULT_BACKEND_URL="default-backend-url-placeholder"
VITE_DEFAULT_BACKEND_API_PATH="default-backend-api-path-placeholder"