.container{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards; 
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 32em;
    border-radius: 1.5em;
    padding: 0.5em;
    background-color: var(--triary);
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.897);
    transform: scale(1.3);
}

.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 25em;
}

.form-input{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.8rem;
    gap: 0.5rem;
    padding: 0.4rem;
    transition: all;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    animation-delay: calc(0.4s * var(--i));
}


input{
    position: ab;
    width:100%;
    padding: 0.6rem;
    border: none;
    border-radius: 0.2em;
    border-left: 2px solid var(--primary);
    background-color: var(--tetriary);
    color: var(--text);
    transition: all 0.1s ease;
}

input:hover{
    outline: none;
    transform: scale(0.975);
    border-left: 2px solid var(--secondary);
}

input:focus{
    outline: none;
    transform: scale(0.975);
    caret-color: rgba(255, 255, 255, 0.5);
    border-left: 2px solid var(--secondary);
}

.form-input:focus-within .icon:not(#show-password) {
    color: var(--accent);
}

.icon{
    font-size: 1.3rem;
    min-width: 1.3rem;
    color: #ffffffa6;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.icon:hover{
    color: var(--accent);
    transform: scale(0.95);
}

.icon:active{
    color: var(--secondary);
    scale: 0.9;
}

#show-password {
    position: absolute;
    right: -1.3rem;
}

#show-password:active{
    scale: 0.9;
}



@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.otp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    border-radius: 1.5em;
    padding:2rem;
    line-height: 1.81em;
    gap: 1.5em;
    background-color: var(--triary);
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.897);
    position: absolute;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    text-align: center;
}

.otp-icon {
    width: 10em;
    height: 10em;
    animation: bounce 3s ease-in-out alternate-reverse infinite;
}

.otp-success-icon {
    width: 10em;
    height: 10em;
    fill: var(--primary);
    animation: pulse 5s alternate-reverse infinite;
}

strong{
    color:var(--accent)
}

@keyframes bounce {
    0% {transform: scale(1); rotate: -10deg;}
    50%  {transform: translateY(-15px) scale(1.15); rotate: 0deg;}
    100% {transform: translateY(0px) scale(1); rotate: 4deg;}
}

@keyframes pulse {
    0% {
        transform: scale(1) rotate(-2deg)
    }
    50% {
        transform: scale(1.15) rotate(0deg)
    }
    100% {
        transform: scale(1) rotate(2deg)
    }
}


.helper-section{
    font-size: 0.85rem;
    line-height: 1.2em;
    padding: 0.8em;
    text-align: center;
}

.icon.unavailable {
    fill: rgb(255, 0, 0);
    animation: wobble 1.2s ease-in-out infinite alternate;
}

.input.unavailable{
    border-color:  red;
    background-color: rgba(255, 0, 0, 0.171);
}


@keyframes wobble {
    0% { transform: scale(1.0) rotate(5deg) }
    25% { transform: scale(1.0) rotate(-5deg) }
    50% { transform: scale(1.0) rotate(5deg) }
    75% { transform:  scale(1.0) rotate(-5deg) }
    100% { transform: scale(1.0) rotate(5deg) }
}

.placeholder {
    position: absolute;
    opacity: 0.5;
    font-size: 0.8rem;
    left: 45px;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
  }

  .form-input:hover .placeholder{
    transform: scale(0.9);
  }
  
  .form-input input:focus + .placeholder,
  .form-input input:not(:placeholder-shown) + .placeholder {
    transform: scale(0.9) translateY(-2rem) translateX(-15%);
    color: var(--accent);
    opacity: 1;
  }

.test{
    display: flex;
    justify-content: start;
    align-items: start;
    align-content: space-evenly;
    width: 100%;
}

.form-input-warning{
    position: absolute;
    scale: 0.9;
    font-size: 0.8rem;
    color:rgba(255, 0, 0, 0.8);
    right: 10px;
    transform: translateY(-2rem);
    pointer-events: none;
}


@media (max-width: 500px) {
    .container{
        font-size: 0.5rem;
    }
    .placeholder{
        font-size: 0.55rem;
    }
    .form-input-warning{
        font-size: 0.55rem;
    }
    p{
        font-size: 0.5rem;
    }
}