.card-container {
  width: 350px;
  height: 300px;
  font-size: 22px;
  margin: 1em;
  filter: grayscale(20%);
  transition: all 0.2s ease-in-out;
  flex-grow: 1;
  max-width: 500px;
}

.card-container:hover {
  transform-origin: center;
  transform: scale(1.05);
  filter: grayscale(0%);
  z-index: 1;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--triary);
  border-radius: 0.8em;
}

.swiper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 0;
}

.swiper-wrapper {
  position: absolute;
  border-radius: inherit;
}

.swiper-wrapper .swiper-slide {
  position: relative;
  width: 100%;
  height: 85%;
  border-radius: inherit;
  object-fit: cover;
  text-align: center;
}

.card-favourite {
  position: absolute;
  border-radius: 100%;
  height: 1.8em;
  width: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  margin: 1em;
  backdrop-filter: blur(4px) contrast(60%);
  transition: all 0.1s ease-in-out;
  z-index: 2;
}

.card-favourite:hover {
  transform: scale(1.3);
  cursor: pointer;
  backdrop-filter: blur(8px);
  color: var(--accent);
}

.card-favourite:active {
  transform: scale(0.9);
  cursor: pointer;
  backdrop-filter: blur(2px) contrast(40%);
}

.card-favourite:active svg {
  /* for the fav heart icon */
  fill: red;
  color: red;
}

.card-cycle-image {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.cycle-image-left {
  left: 0px;
}

.cycle-image-right {
  right: 0px;
}

.cycle-image-left,
.cycle-image-right {
  position: absolute;
  border-radius: 50%;
  margin: 1em;
  padding: 0.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.8);
  backdrop-filter: blur(4px) contrast(75%);
  color: var(--triary);
  transition: all 0.065s ease-in-out;
}

.cycle-image-right:hover,
.cycle-image-left:hover {
  transform: scale(2);
  cursor: pointer;
  backdrop-filter: blur(8px) contrast(75%);
  color: var(--accent);
}

.cycle-image-right:active,
.cycle-image-left:active {
  transform: scale(1.5);
  cursor: pointer;
  backdrop-filter: blur(2px) contrast(50%);
  color: var(--primary);
}

.card-place-summary {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 25%;
  backdrop-filter: blur(40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.card-place-summary:hover {
  font-size: 0.9rem;
  height: 20%;
}

.place-logo {
  position: relative;
  border-radius: 50%;
  height: 70%;
  aspect-ratio: 1 / 1;
  margin: 0.25em;
  flex-shrink: 0;
}

.place-logo img {
  border-radius: 50%;
  width: 100%;
}

.place-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0.25em;
  margin-left: 0.5em;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  user-select: text;
}

.place-name {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1em;
  font-weight: bolder;
}

.place-type {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.8em;
  color: var(--accent);
}

.place-ratings {
  position: relative;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.25em;
  font-weight: bold;
}

.place-stars {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  color: var(--accent);
}

.place-review-count {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  color: var(--secondary);
}

@media (max-width: 800px) {
  .card-container {
    width: 150px;
    height: 150px;
    font-size: 0.65rem;
    max-width: 225px;
  }
}
