#Database values
MONGO_DB=your_mongo_db
MONGO_USER=your_mongo_user
MONGO_PASSWORD=your_mongo_password
MONGO_CLUSTER=your_mongo_cluster

#Twilio Phone/Sendgrid Email api values
#Twilio Config
TWILIO_SID=twillio_sid
TWILIO_AUTH_TOKEN=twillio_auth_token
#Sendgrid Config
EMAIL_API_KEY=email_api_key
EMAIL_SENDER=email_sender
EMAIL_TEMPLATE_REGISTRATION=email_template_registration
EMAIL_OTP_SID=email_otp_sid

#Security
#JWT
JWT_SECRET=jwt_secret
#OUATH2
#Google

#Apple