#Database values
MONGO_DB="your_mongo_db"
MONGO_USER="your_mongo_user"
MONGO_PASSWORD="your_mongo_password"
MONGO_CLUSTER="your_mongo_cluster"

#Redis
REDIS_DB="db"
REDIS_HOST="host"
REDIS_PORT="port"

#Spring mail
EMAIL_SENDER="gmail"
EMAIL_SENDER_PW="app_password"

#Security
#JWT
JWT_SECRET="jwt_secret"
#OAUTH2
#Google
GOOGLE_CLIENT_ID="google_id"
GOOGLE_CLIENT_SECRET="google_secret"
GOOGLE_REDIRECT_URI="redirect_uri"

#OpenAI Config
OPENAI_API_KEY="openai_key"

#Maps Platform
MAPS_PLATFORM_KEY="maps_key"

#Imagekit
IMAGEKIT_PUBLIC="public"
IMAGEKIT_PRIVATE="private"
IMAGEKIT_URL="imagekit_url"